/* 
设置步骤:
1. 找一个svg图标文件(https://www.svgrepo.com/vectors/markdown/)
2. 将svg用记事本打开, 复制内容
3. 将内容转为data url(https://yoksel.github.io/url-encoder/)
4. 粘贴到background-image: url()设置项
*/


/* 设置 Markdown 文件图标 - 独立版本 */
.nav-file-title[data-path$=".md"]::before {
    /* 1. 基础设置（从 appendix 复制） */
    content: ''; 
    background-size: 12px 12px;
    transform: translate(-16px, 0px);
    background-repeat: no-repeat;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: -12px;
    align-items: center;
    flex-shrink: 0;

    /* 2. 图片设置（你原来的设置） */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%237648C9' fill-rule='evenodd' d='M13.0137525,8 L13.0137525,4.97492163 L11.0333988,4.97492163 L11.0333988,8 L9.18973966,8 L12.0350612,11.4435979 L14.8803828,8 L13.0137525,8 Z M3.94524074,4.94357367 L1.94891945,4.94357367 L1.94891945,10.9623824 L3.96070727,10.9623824 L3.96070727,7.99911889 L5.49084658,9.95423236 L7.00982318,8.01338188 L7.00982318,10.9623824 L8.99017682,10.9623824 L8.99017682,4.94357367 L7.03645242,4.94357367 L7.03645242,4.94320384 L7.03616331,4.94357367 L7.00982318,4.94357367 L7.00982318,4.97726697 L5.49084658,6.92028494 L3.96070727,4.96298806 L3.96070727,4.94357367 L3.94552985,4.94357367 L3.94524074,4.94320384 L3.94524074,4.94357367 Z M1.00589391,2 L14.9941061,2 L14.9941061,2 C15.549646,2 16,2.45035404 16,3.00589391 L16,12.9941061 C16,13.549646 15.549646,14 14.9941061,14 L1.00589391,14 C0.450354043,14 2.90078617e-16,13.549646 2.22044605e-16,12.9941061 L0,3.00589391 L-2.22044605e-16,3.00589391 C-2.90078617e-16,2.45035404 0.450354043,2 1.00589391,2 L1.00589391,2 Z'/%3E%3C/svg%3E");
}